body{
  font-family: "Roboto Condensed", serif;
}
h2{
  position: relative;
  font-family: "Helvetica", sans-serif;
  left: 10px;
}
ol{
  counter-reset:item;
}
li{
  display: block;
}
li:before{
  content: counters(item, ".") " ";
  counter-increment: item;
}
div ol{
  margin-bottom:10px;
}
ol>li>span{
  margin-left:20px;
}
.header{
  padding: 0;
  margin: 0 auto 20px auto;
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: medium;
}
.ToC{
  position: relative;
  display: inline-block; 
  float: right;
  width: 27%;
  margin: 10px auto auto auto;
  padding: auto;
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
}
.overview{
  display: inline-block;
  position: relative;
  float: left;
  padding-right:20px;
  width: 70%; 
}
.body {
 clear: both;
}
.overview li{
  margin-bottom: 5px;
}
h4{
  margin-bottom:0;
}
div > div > div{
position:relative;
left: 20px;
}

