<link rel="stylesheet" type="text/css" href="./inc/style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Oxygen">
<?php include_once("analyticstracking.php")?>
<?php include "./inc/mast.html"; ?>
<div id="nav">
<ul>
  <li><a href="./home.php">home</a></li>
  <li><a href="./update.php">settings</a></li>
  <li><a href="./communities.php">clubs&groups</a></li>
  <li><a href="./communities.php">courses</a></li>
  <li><a href="./userDirectory.php">people</a></li>
  <li style="float:right"><a href="./logout.php">logout</a></li>
</ul></div>
