fieldset {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
body a {
	text-decoration: none;
	color: #9e0000;
}

a:hover {
	color: #CC0000;
}

#mast {
	font-family: 'Roboto Condensed', serif;
        padding: 10px;
	background-color: #CC0000;
	height: 90px;
	font-size:48px;
        color: black;
	position: relative;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}
#mastinner {
	display: block;
	position: absolute;
	bottom: 0;
}
#mast img {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	max-height:80%;
	width: auto;
	margin: 10px;
}
#nav {
	font-family: 'Roboto Condensed', serif;
	text-transform: uppercase;
	position: relative;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #76777B;
-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}

#nav li {
    float: left;
}
#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #111;
}

.title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', serif;
	font-size: 20px;
	display:block;
	padding: 10px;
}

.title h2 {
	margin-top: 0;
	margin-bottom: 0;

}

.content {
	padding: 0px;
}
.content ul {
	text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;

}

.content li {
	display: inline-block;
}

.content li a {
	display: block;
	text-transform: lowercase;
    color: white;
    text-align: center;
    padding: 14px 16px 14px;
    text-decoration: none;
}

.content li a:hover {
    background-color: #111;
}
.container {
	positon: absolute;
	font-family: 'Roboto Condensed', serif;
	display: block;
	clear:left;
	float:left;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
 /* color changes rightside column */
}

.container h3 {
    display: block;
    font-size: 1.17em;
    margin: 0;
    font-weight: bold;
}
.content {
	float:left;
	width:100%;
	position:relative;
	right:40%;
	margin-bottom: 20px;
 /* color changes leftside column */
}
.contentleft {
	float:left;
	width:50%;
	position:relative;
	left:40%;
	overflow:hidden;
}
.contentleft h2 {
	padding: 10px;
}
.contentleft table {
	padding: 10px;
}

.discussions table {
	table-layout: fixed;
}

.discussions td {
white-space: pre-wrap;
word-break: break-all;

/* For Chrome and IE */
word-wrap: break-word;
}

.contentright {
	float:left;
	width:45%;
	position:relative;
	left:45%;
	overflow:hidden;
}

.contentright h3 {

}

.content form {
	margin: 0px;
	width: 90%;
}

.contentright form {
	display: inline-block;
	text-align: center;
	margin: 0 0 10px 0;
}
.contentright form a {
	display: block;
	text-transform: lowercase;
    color: black;
    text-align: center;
    padding: 14px 16px 14px;
    text-decoration: none;
}

.contentright form a:hover {
    background-color: #CCCCCC;
}

.contentright select, option {
	text-align: right;
}
.contentright button {
	background-color: #CC0000;
    border: none;
    color: white;
	width: 100%;
    margin: 10px auto 0 auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
	position: relative;
}
.contentright button:hover {
	cursor: pointer:
}
#profilecontent {
	float:left;
	width:100%;
	position:relative;
	right:50%;
	/* color changes leftside column */
}

#profileleft {
	float:left;
	width:50%;
	position:relative;
	left:50%;
	overflow:hidden;

}

#profileright {
	float:left;
	width:50%;
	position:relative;
	left:50%;
	overflow:hidden;
}
form#courseadd {
	width: 100%;
}

form#commlog fieldset {
	width: 50%;

}

form#commlog input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

form#commlog input:focus {
    border: 3px solid #555;
}

form#commlog button {
	background-color: #CC0000;
    border: none;
    color: white;
	width: 80%;
	margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   padding: 12px 20px;
}

table#faccourse a {
	text-decoration: none;
	color: black;
}

table#faccourse th, td {
	border-bottom: 1px solid #ddd;
}

table#faccourse tr:hover {background-color: #ddd}

.whisper {
	font-family: 'Roboto Condensed', serif;
	color: #AAAAAA;
	font-style: italic;
}
.whisper a {
	text-decoration: none;
	color: #333333;
}

.whisper :hover {
	background-color: #999999;
}

.inlineerr {
	font-family: 'Roboto Condensed', serif;
	display: inline-block;
	width: 80%;
	margin: 0 auto;
	background-color: yellow;
	font-size: 16pt;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
}
.error {
	font-family: 'Roboto Condensed', serif;
	display: block;
	width: 100%;
	background-color: yellow;
	font-size: 16pt;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
}
.error a {
	text-decoration: none;
	}
.error a:hover {
	color: black;
	font-style: bold;
	text-transform: uppercase;
	}
.outter {
	width:50%;
	position: relative;
	margin: 2% auto;
	padding: 10px 0;
}
.success {
	text-align: center;
	display: block;
	margin: 0 auto;
}


#standout {
	display: block;
	font-style: bold;
	font-size: 2em;
}
form#form1 input {
	width: 60%;
	display: block;
	margin: 0 auto 2% auto;
	outline: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 5%;
	border: 1px solid rgba(0,0,0,.7);
}

#form1 button {
	border: none;
	background-color: rgba(0, 0, 0, 0.7) ;
	color: white;
	display: block;
	margin: 4% auto 2% auto;
	padding: 1%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 60%;
}

#addta {
	display: inline-block;
	margin: 0;
}
.membersonly {
	display: block;
	float: left;
	clear: left;
	width: 100%;
	margin: 10% auto;
	text-align: center;
}
.membersonly table {
	margin: 0 auto;
	width: 80%;
}
.membersonly td,th {
border-bottom: 1px solid #ddd;
text-align: center;
}
.membersonly tr:hover {background-color: #ddd}

table#user5 td,th {
	border-bottom: none;
	text-align: center;
}
table#user5 th {
	font-size: 10px;
    font-style: italic;
}
table#user5 {
	width: 100%;
}

#login {
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	font-size: 15px;
	text-align: center;
	width: 80%;
	background-color: orange;
	float: right;
}

.discussion input {
	width: 60%;
}
.discussion textarea {
	width: 60%;
}



#disco {
	width: 100%;
	margin: 20px auto 20px auto;
}

#disco table {
	width: 60%;
}

#disco th, td {
	text-align: center;
}

#discsearch input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./toolbar_find.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#discsearch input[type=text]:focus {
    width: 100%;
}

.member form {
	width: 80%;
	float: right;
}

.member button {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background-color: #993333;
}
